
#application header {
  margin-bottom: 50px;
}

#application header,
#application footer {
  text-align: center;
  color: white;
}

#application footer {
  margin-top: 50px;
}
#application footer h4 a {
  margin-right: 20px;
  font-size: 32pt;
  color: white;
}

#calculatorBox {
  border-radius: 10px;
  background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#calculatorBox button {
  border-radius: 0;
  font-size: 16pt;
  line-height: 44px;
}

#calculatorBox button.btn-warning {
  font-size: 12pt;
}
#calculatorBox button.btn-info {
  font-size: 22pt;
}
